<table ng-class="{'table-striped': !settings.projectorDisplay}" class="table">
<thead>
  <tr>
    <th width="{{columnWidth}}%">Rank</th>
    <th class="table-headers" width="{{columnWidth}}%" ng-repeat="(i,th) in tableNames" ng-class="selectedCls(th)" ng:click="changeSorting(th)">{{th}}
      </th>
  </tr>
</thead>
<tbody>
  <tr ng-class="{'projectorDisplayTable': settings.projectorDisplay}" ng:repeat="student in students | orderBy: predicate: sort.descending">
    <td width="{{columnWidth}}%" ng-if="$index > 0">{{$index + 1}}</td>
    <td width="{{columnWidth}}%" ng-if="$index === 0"><span class="glyphicon glyphicon-king"></span></td>
    <td width="{{columnWidth}}%" ng-repeat="data in student">{{data}}</td>
  </tr>
</tbody>
</table>
