<table class="table table-striped table-hover ">
  <thead>
    <tr>
    	<th>Intake</th>
      <th>Date</th>
      <th>Attendance (%)</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="rowItem" ng-repeat = "roll in rolls">
      <td>
      	<div uib-popover="{{roll._intake.name}}" popover-trigger="mouseenter" ng-click="openIntake(roll._intake._id)"  ng-style="{'background': roll._intake.colour}" class="circle circleTable"></div>
		  </td>
      <td>{{roll.date | date: 'medium'}}</td>
      <td>{{roll.attendancePercent}}</td>
      <td><span ng-mouseover="rowItem = 'trashHover'" ng-mouseleave="rowItem = ''"  ng-click="deleteRoll(roll)" class="glyphicon glyphicon-trash"></span>
       | 
       <span ng-mouseover="rowItem = 'editHover'" ng-mouseleave="rowItem = ''"  ng-click="updateRoll(roll)" class="glyphicon glyphicon-edit"></span></td>
    </tr>
	</tbody>
</table>