<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <h3>Recent Anouncements</h3>
      <div ng-if="vm.latestAnouncement">
        <div ng-class="{'projectorDisplayPanel': vm.settings.projectorDisplay}" class="panel panel-default">
          <div class="panel-heading">
            {{vm.latestAnouncement.title}}
          </div>
          <div class="panel-body anouncementPanel">
            <p><strong>Type: </strong>{{vm.latestAnouncement.type}}</p>
            <p>{{vm.latestAnouncement.description}}</p>
          </div>
        </div>
      </div>
      <!-- No anouncements -->
      <p ng-if="!vm.latestAnouncement"><i>Rejoice! There are currently no announcements.</i></p>
    </div>
    <div class="col-xs-6 col-sm-6">
      <h3>Right Now</h3>
      <scheduled-item-info ng-if="vm.currentScheduledItems.length > 0" ng-repeat="scheduledItem in vm.currentScheduledItems" default-item="scheduledItem" selected-scheduled-item="scheduledItem"></scheduled-item-info>
      <!-- no scheduled items -->
      <p ng-if="vm.currentScheduledItems.length < 1"><i>Have a break, there are no items scheduled right now!</i></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <h3>Current Leader</h3>
      <div ng-if="vm.leader">
        <h4><span class="glyphicon glyphicon-king"></span> {{vm.leader.firstName}} {{vm.leader.lastName}}</h4>
      </div>
      <div ng-if="!vm.leader">
        <h4>There are currently no students in this intake</h4>
      </div>
    </div>
  </div>

  <h2 class="sub-header">Students</h2>

  <student-table students="vm.settings.registrations"></student-table>

</div>
