<div class="container">
<div class="row">
  <div class="row">
    <%= render "students" %>
  </div>
  <div class="row">
    <%= render "events" %>
  </div>
  <div class="row">
    <%= render "event_types" %>
  </div>
  <div class="row">
    <%= render "notices" %>
  </div>
</div>
</div>
