@import "../views/award-disciplines/award-disciplines";
@import "../views/disciplines/disciplines";
@import "../views/awards/awards";
@import "../views/student_dashboard/student_dashboard";


body {
  font-family: sans-serif;
  /*background-color: #f5f5f5;*/
}

#cfa-logo {
	width: 100%;
	height: auto;
}

.login-form {
	margin-bottom: 30px;
}

.clock {
  font-size:40px;
  margin-left: 100px;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.circle {
	width: 30px;
	height: 30px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	cursor: pointer;

}

.circleHeading {
	display: inline-flex;
	float: left;
	padding-right: 5px;
	vertical-align: middle;
}

.circleTable {
	width: 20px;
	height: 20px;
	display: inline-flex;
	margin-left: 4px;
}

.circleSelector {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-left: 8px;
}

.circleSelected {
	width: 50px;
	height: 50px;
}

.circleAnouncementList {
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-left: 5px;
	text-align: center;
	vertical-align: middle;
}
.circleIntakeSelectionDashboard {
	width: 100px;
	height: 100px;
	margin-left: 20px;
	text-align: center;
	margin-top: 50px;
}

.selectIntakes {
	text-align: center !important;
}

.trashHover {
	background-color: #ffe6e6 !important;
}

.intakePanel {
	align-items: center !important;
	display: flex;
}

.intakePanelElement {
	padding-left: 5px;
}

.addTermLink {
	margin-top: 10px !important;
	cursor: pointer;
}

.intakeHeading {
	align-items: center !important;
}

.login-alert {
	margin-top: 20px;
	text-align: center;
}

a {
	cursor: pointer !important;
}

/*.nav-sidebar > li > a {
	color: red !important;
}*/


/*Animations*/

/* The starting CSS styles for the enter animation */
.fadeInOut.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fadeInOut.ng-enter.ng-enter-active {
  opacity:1;
}

.fadeInOut.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.fadeInOut.ng-leave.ng-leave-active {
  opacity:0;
}
.sort-true:before {
  color: green;
  content: "▼";
}
.sort-false:before {
  color: red;
  content: "▲";
}
.table-headers {
  cursor: pointer;
}
