<!-- Actions -->
<div class="container ">
	<div class="row">
		<ul class="nav navbar-nav">
		  <li><a ng-click="vm.toggleRegisterUser()">Take Role</a></li>
		  <li><a ng-click="vm.toggleShowCreateScheduledItem()">View all Roles</a></li>
		</ul>
	</div>
</div>

<h1>Roles</h1>

<!-- overlord controls the communication between the directives -->
<roll-overlord>

	<!-- Roll form -->
	<div class="row">
		<div class="col-md-6">
			<roll-form></roll-form>	
		</div>
	</div>

	<!-- Roll Day selector -->

	<!-- Roll intake filter -->

	<!-- Roll table -->
	<roll-table></roll-table>

</roll-overlord>

