<!-- <div class="row">
	<div class="col-md-12">
		<table class="table table-striped table-hover ">
		  <thead>
		    <tr>
		      <th ng-repeat="discipline in disciplines">{{discipline}}</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-class="termItem" ng-repeat = "user in users" ng-click="gotoUserPage(user._id)">
		      <td>{{user.firstName}}</td>
		      <td>{{user.lastName}}</td>
		      <td>{{user.email}}</td>
		      
		      
		    </tr>
	   	</tbody>
		</table>
	</div>
</div>
 -->
<div ng-repeat="regObj in groupedAwardsDisciplines">
	
	<!-- repeat for each registration -->
	<div ng-repeat="(registrationId, disArray) in regObj">
		<h2>{{registrationId}}</h2>
		{{disObj}}
		<div ng-repeat="disObj in disArraydisObj" class="panel panel-default">
			<div class="panel-heading">
				{{disciplineId}}
			</div>
			<div class="panel-body">
				<p ng-repeat="awardDiscipline in awardDisciplineArray">{{awardDiscipline._award.name}} ({{awardDiscipline._award.value}})</p>
				
			</div>
		</div>
	
	</div>

