	
	<div class="panel panel-default">
		<div class="panel-heading">
			<div uib-popover="{{registration._intake.name}}" popover-trigger="mouseenter" ng-href="/intake/{{registration._intake._id}}"  ng-style="{'background': registration._intake.colour}" class="circle circleTable"></div>
			{{registration._intake.name}}
		</div>
		
		<div class="panel-body">
			<div ng-repeat="discipline in disciplines">
				<p >Total <a ng-click="showHideAwards(registration._id, discipline._id)" uib-popover="{{discipline.description}} (click to see awards)" popover-trigger="mouseenter">{{discipline.name}}</a> points: {{discipline.points}}</p>
				<div ng-if="showAwardsFor.indexOf(discipline._id) !== -1">
					<p ng-repeat="awardDiscopline in disciplineAwards[discipline._id] ">{{awardDiscopline._award.name}} ({{awardDiscopline._award.value}} points)</p>
				</div>
			</div>
			<p><strong>Total points: {{totalPoints}}</strong>
		</div>
	</div>


