<div class="container ">
	<div class="row">
		<ul class="nav navbar-nav">
		  <li><a href="/award-disciplines">Back</a></li>
		</ul>
	</div>
</div>

<div class="col-md-6">
	<h1>Awards</h1>
	<div class="row" ng-repeat="award in vm.awards">
		<div ng-if="!award.isEditing" class="panel panel-default">
		  <div class="panel-heading">{{award.name}}
	  		<div class="pull-right">
		  		<a href="" ng-click="vm.onEditClick(award)">Edit</a> |
		  		<a href="" ng-click="vm.deleteAward(award._id)">Remove</a>
	  		</div>
			</div>
			<div class="panel-body">Points: {{award.value}}</h3></div>
		</div>
	  <!-- Form to Edit an Award -->
	  <div ng-if="award.isEditing">
		  <form>
			  <input class="form-control" ng-model="vm.awardData.name"/>
			 	<select class="form-control" ng-model="vm.awardData.value">
					<option ng-repeat="n in [] | range:15" value="{{$index+1}}">{{$index+1}}</option>
				</select>
			</form>
			<!-- Buttons to Edit an Award -->
			<button
				class="btn btn-primary"
				ng-click="vm.editAward(award, vm.awardData)">
				Save
			</button>
			<button
				class="btn btn-default"
				ng-click="vm.onCancelClick(award)">
				Cancel
			</button>
			<br>
		</div>
		<br>
	</div>
</div>
<div class="col-md-6">
	<h1>Create an Award</h1>
	<form ng-submit="vm.createAward()">
	  <!-- Name -->
	  <div class="form-group col-md-6">
	    <label for="nameInput">Name</label>
	    <input ng-model="vm.awardData.name" type="text" class="form-control" id="nameInput" placeholder="Name" required>
	  </div>
	  <!-- Points -->
	 	<!-- Below code uses a filter. Logic can be found in client/filters/range/range.js -->
	  <div class="form-group col-md-6">
	    <label for="valueInput">Value</label>
	    <select class="form-control" ng-model="vm.awardData.value">
				<option ng-repeat="n in [] | range:15" value="{{$index+1}}">{{$index+1}}</option>
			</select>
	  </div>
	 	<div class="form-group col-md-6">
		  <button class="btn btn-primary" type="submit">
		  	New Award
			</button>
		</div>
	</form>
</div>