<div class="col-md-12">
	<h1>Awards</h1>
	<div class="row-fluid" ng-repeat="award in vm.awards">
		<div class="panel panel-default col-md-6">
		  <div class="panel-body">
		  		<h3 class="panel-title col-md-3"><a href="/awards/{{award._id}}">{{award.name}}</a></h3>
		  		<h3 class="panel-title col-md-3">{{award.value}}</h3>
		    <a href="" ng-click="vm.deleteAward(award)">Remove</a>
		    <a href="" ng-click="vm.editAward(award)">Edit</a>
		  </div>
		</div>
	</div>
</div>

<h1>Create an Award</h1>
<form ng-submit="vm.createAward()">
  <!-- Name -->
  <div class="form-group col-md-6">
    <label for="nameInput">Name</label>
    <input ng-model="vm.awardData.name" type="text" class="form-control" id="nameInput" placeholder="Name" required>
  </div>
  <!-- Points -->
 	<!-- Below code uses a filter. Logic can be found in client/filters/range/range.js -->
  <div class="form-group col-md-6">
    <label for="valueInput">Value</label>
    <select class="form-control" ng-model="vm.awardData.value">
		<option  ng-repeat="n in [] | range:15" value="{{$index+1}}">{{$index+1}} 
		</option>
		</select>
  </div>

  <button class="btn btn-primary" type="submit">
  	Create Award
	</button>
</form>