<form ng-submit="registerUser()">
	<!-- Select User -->
	<div class="row">
		<div class="form-group col-md-6">
			<label for="user">User</label>
			<select ng-model="formRegisterUser.userId" id="user" class="form-control" required>
				<option value="{{user._id}}" ng-repeat="user in unregisteredUsers">{{user.firstName}} {{user.lastName}}</option>
			</select>
		</div>

		<!-- Select role (student/teacher) -->
		<div class="form-group col-md-6">
			<label for="userRole">Role</label>
			<select ng-model="formRegisterUser.role" id="userRole" class="form-control" required>
				<option>Teacher</option>
				<option>Student</option>
				<option>TA</option>
			</select>
		</div>
	</div>
	
	<!-- Intake: if this is on the intake page then use that intake id -->
	<div ng-if="showIntakeList" class="form-group col-md-6">
		<label for="scheduleItemIntake">Intake</label>
		<input ng-model="formScheduledItem.intakeId" type="text" class="form-control" id="scheduleItemIntake" placeholder="Name" required>
	</div>

	<button type="submit" class="btn btn-lg btn-block">Register User</button>
</form>