<div class="container ">
	<div class="row">
		<ul class="nav navbar-nav">
		  <li><a ng-click="vm.toggleRegisterUser()">Register a User</a></li>
		  <li><a ng-click="vm.toggleShowCreateScheduledItem()">Create Schedule Item</a></li>
		</ul>
	</div>
</div>

<h1 class="intakeHeading"><div class="circle circleHeading" ng-style="{'background': vm.intake.colour}" ></div> {{vm.intake.name}}</h1>

<div class="row">
	<div ng-if="!vm.showCreateScheduledItem" class="col-md-6">
		<!-- Intake Meta details -->
		<div class="row">
			<div class="col-md-12">
				<h3>Terms</h3>
				<term-table terms="vm.intake.terms"></term-table>
			</div>
		</div>
		<!-- Students -->
		<h3>Users</h3>
		<!-- Register User form -->
		<div class="row">
			<div class="col-md-12">
				<div ng-if="vm.registerUser" class="fadeInOut well">
					<h3 align="center">Register User</h3>
					<register-user form-register-user="vm.formRegisterUser" intake-id="{{vm.intake._id}}" unregistered-users="vm.unregisteredUsers" registered-students="vm.registeredStudents" registered-teachers="vm.registeredTeachers" registered-tas="vm.registeredTas"></register-user>
				</div>
			</div>
		</div>
		<!-- Teachers table -->
		<div class="row">
			<div class="col-md-12">
				<h4>Teachers</h4>
				<registration-table ng-if="vm.registeredTeachers.length > 0" registrations="vm.registeredTeachers" unregistered-users="vm.unregisteredUsers"></registration-table>
				<p ng-if="vm.registeredTeachers.length < 1"><i>There are no teachers currently registered for this intake!</i></p>
			</div>
		</div>
		<!-- TAs table -->
		<div class="row">
			<div class="col-md-12">
				<h4>Teacher's Assistants</h4>
				<registration-table ng-if="vm.registeredTas.length > 0" registrations="vm.registeredTas" unregistered-users="vm.unregisteredUsers"></registration-table>
				<p ng-if="vm.registeredTas.length < 1"><i>There are no teacher's assistants currently registered for this intake!</i></p>
			</div>
		</div>
		<!-- Students table -->
		<div class="row">
			<div class="col-md-12">
				<h4>Students</h4>
				<registration-table ng-if="vm.registeredStudents.length > 0" registrations="vm.registeredStudents" unregistered-users="vm.unregisteredUsers"></registration-table>
				<p ng-if="vm.registeredStudents.length < 1"><i>There are no students currently registered for this intake!</i></p>
			</div>
		</div>
	</div>

	<!-- Create schedule item -->
	<div ng-show="vm.showCreateScheduledItem" class="col-md-6">
		<div class="fadeInOut well">
			<create-schedule-item form-scheduled-item = "vm.formScheduledItem" intake-id="{{vm.intake._id}}" scheduled-items="vm.scheduledItems" show-create-scheduled-item="vm.showCreateScheduledItem" show-intakes="vm.showIntakes"></create-schedule-item>
		</div>
	</div>

	<!-- Schedule items stuff -->

	<div class="col-md-6">
		<h3>Scheduled items</h3>

		<scheduled-item-day-picker date="vm.date" all-scheduled-items="vm.scheduledItems" selected-scheduled-items="vm.selectedScheduledItems"></scheduled-item-day-picker>
		
		
		<!-- Schedule items list -->
		<div class="row">
			<div class="col-md-12">
				<scheduled-items selected-scheduled-items="vm.selectedScheduledItems" scheduled-items="vm.scheduledItems" form-scheduled-item = "vm.formScheduledItem" show-create-scheduled-item="vm.showCreateScheduledItem" show-intakes="vm.showIntakes"></scheduled-items>

				<p ng-if="vm.selectedScheduledItems.length < 1"><i>There are no items scheduled for {{vm.intake.name}} on this day!</i></p>
			</div>
		</div>
	</div>
</div>


	