<%= render 'week_counter' %>

<div class="row">
  <div class="col-md-8">
    <h2 class="giant white">
      <%= Time.now.strftime('%H:%M%P') %>
    </h2>
    <h2><%= Date.today.strftime('%A, %l %B %Y') %></h2>
    <h2>Week 1 of 5<br>Term 1 of 4</h2>
  </div>
  <div class="col-md-4">
    <h2 class="white">
      Current topic
    </h2>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4 blue-bg">
    <h2 class="white">Leaderboard</h2>
    <p class="lead">1. Pedro ........  20</p>
    <p class="lead">2. Jenny ........  18</p>
  </div>
  <div class="col-md-4 green-bg">
    <h2 class="white">Announcement</h2>
  </div>
  <div class="col-md-4 orange-bg">
    <h2 class="white">Today's stuff</h2>
  </div>
</div>
