<h1>Coder Factory Academy Schedule</h1>

<div class="row">
  <div class="col-md-4">
    <div class="card card-block">
      <h4 class="card-title">Intakes</h4>
      <p class="card-text">
        <% @intakes.each do |intake| %>
          <%= link_to intake.name, intake %> <%= link_to "<i class='fa fa-plus-circle'></i>".html_safe, new_event_path(intake: intake.id) %>
        <% end %>
      </p>

    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-block">
      <h4 class="card-title">THIS WEEK</h4>
      <h6>TODAY <%= Date.today.strftime('%d %B %Y') %></h6>
      <div class="list-group">
        <% @event_times.each do |event_time| %>
          <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </a>
        <% end %>
      </div>
  </div>
</div>
