<!-- Actions -->
<div class="container ">
	<div class="row">
		<ul class="nav navbar-nav">
		  <li><a href="" ng-click="vm.showEditUser()">Edit</a></li>
		</ul>
	</div>
</div>

<h1> {{vm.user.firstName}} {{vm.user.lastName}}</h1>

<!-- Edit form -->
<div ng-show="vm.editingUser" class="container row col-md-6">
	<form role="form">
		<h2>Edit Profile</h2>
	  <div class="form-group">
	    <label for="email">Email:</label>
	    <input class="form-control" ng-model="vm.user.email"/>
	  </div>
	  <div class="form-group">
	    <label for="email">Alternative Email:</label>
	    <input class="form-control" ng-model="vm.user.altEmail"/>
	  </div>
	  <div class="form-group">
	    <label for="password">Password:</label>
	  	<input type="password" class="form-control" ng-model="vm.user.password"/>
	  </div>
	  <button
			class="btn btn-default"
			ng-click="vm.editUser(vm.userData)">
			Save
		</button>
	</form>
</div>


<!-- user data -->
<div ng-show="!vm.editingUser">
	<div class="row">
		<div class="col-md-6">
			<!-- Intakes -->
			<p><strong>Intakes: </strong><div ng-repeat="registration in vm.user._registrations" uib-popover="{{registration._intake.name}}" popover-trigger="mouseenter" ng-click="vm.openIntake(registration._intake._id)"  ng-style="{'background': registration._intake.colour}" class="circle circleTable">
	</div></p>
			<p><strong>Email: </strong>{{vm.user.email}}</p>
			<p><strong>Alternative Email: </strong>{{vm.user.altEmail}}</p>
		</div>
	</div>

	<h2>Intake Points</h2>
	<!-- Points table -->
	<div ng-repeat="registration in vm.user._registrations">
		<div class="row">
			<div class="col-md-6">
				<user-points-table registration="registration"></user-points-table>
			</div>
		</div>
	</div>
</div>
