<div class="row">
	<!-- Create Anouncement -->
	<div class="col-md-6">
		<h1 ng-if="vm.formAnouncementData._id === undefined">Create Anouncement</h1>
		<h1 ng-if="vm.formAnouncementData._id !== undefined">Edit Anouncement</h1> 

		<form ng-submit="vm.submitAnouncementForm()">
		  <div class="row">
		  	
		  	<!-- Title -->
			  <div class="form-group col-md-6">
			    <label for="anouncementTitleInput">Title</label>
			    <input ng-model="vm.formAnouncementData.title" type="text" class="form-control" id="anouncementTitleInput" placeholder="Title" required>
			  </div>

				<!-- Type -->
			  <div class="form-group col-md-6">
			    <label for="anouncementTypeInput">Type</label>
			    <input ng-model="vm.formAnouncementData.type" type="text" class="form-control" id="anouncementTypeInput" placeholder="Type" required>
			  </div>			  
			
			</div>

			<!-- Description -->
			<div class="row">
				<div class="col-md-12">
					<label for="anouncementDescriptionInput">Description</label>
					<textarea ng-model="vm.formAnouncementData.description" class="form-control" id="anouncementDescriptionInput" placeholder="Description" required></textarea>
				</div>
			</div>

			<!-- intake selection -->
			<hr>
				<intake-selector intakes="vm.intakes" show-intakes="vm.showIntakes" form-data-intakes=vm.formAnouncementData._intakes></intake-selector>
			<hr>

			<!-- Submit -->
			<div class="row">
				<div class="col-md-12">
					<button ng-if="vm.formAnouncementData._id === undefined" type="submit" class="btn btn-lg btn-block">Create Anouncement</button>
				  <button ng-if="vm.formAnouncementData._id !== undefined" type="submit" class="btn btn-lg btn-block">Save Changes</button>
			  </div>
		  </div>

		</form>
	</div>

	<!-- Anouncement list -->
	<div class="col-md-offset-1 col-md-5">
		<h1>Anouncements</h1>
		<div class="row" ng-repeat="anouncement in vm.anouncements | orderBy:reverse">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-9">
							{{anouncement.title}}
						</div>
						<div class="col-xs-3">
							<a ng-click="vm.editAnouncementClick(anouncement)">Edit</a> |
							<a ng-click="vm.deleteAnouncement(anouncement)">Remove</a>
						</div>
					</div>
				</div>
	
			  <div class="panel-body anouncementPanel">
				  <p><strong>Type: </strong>{{anouncement.type}}</p> 
			 		<p>{{anouncement.description}}</p>
			 		<div class="row">
				 		<div ng-if="anouncement._intakes.length > 0" class="col-md-12">
							<div ng-repeat="intake in anouncement._intakes" uib-popover="{{intake.name}}" popover-trigger="mouseenter" ng-click="vm.gotoIntake(intake._id)"  ng-style="{'background': intake.colour}" class="circle circleAnouncementList"></div>
						</div>
					</div>
			  </div>
			</div>
		</div>
	</div>
</div>