
<h1 align="center">Welcome {{vm.userDetails.firstName}}, please select an intake!</h1>

<!-- user intakes (not admin) -->

<div ng-if="!vm.userDetails.admin" class="row placeholders">
  <div ng-repeat="registration in vm.userDetails._registrations" >
  	<div uib-popover="{{registration._intake.name}}" popover-trigger="mouseenter" ng-click="vm.gotoIntake(registration._intake._id)"  ng-style="{'background': registration._intake.colour}" class="circle circleIntakeSelectionDashboard col-xs-6 col-sm-3 placeholder"></div>
  </div>
</div>

<!-- user intakes (not admin) -->

<div ng-if="vm.userDetails.admin" class="row placeholders">
  <div ng-repeat="intake in vm.allIntakes">
  	<div uib-popover="{{intake.name}}" popover-trigger="mouseenter" ng-click="vm.gotoIntake(intake._id)"  ng-style="{'background': intake.colour}" class="circle circleIntakeSelectionDashboard col-xs-6 col-sm-3 placeholder"></div>
  </div>
</div>