<form ng-submit="login()">
  
  <div class="row">
    <div class="form-group col-md-6">
      <input type="email" class="form-control" ng-model="user.email" placeholder="email">
    </div>

    <div class="form-group col-md-6">
      <input type="password" class="form-control" ng-model="user.password" placeholder="password">
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-lg btn-block" type="submit">
        login
      </button>
    </div>
  </div>
  
  
</form>

<pre ng-if="vm.error">{{ vm.error | json }}</pre>
