<h1>Scheduled Items</h1>

<!-- Create schedule item -->
<div class="row">
	<div class="col-md-6">
		<div class="well">
			<h3 align="center">Create Scheduled Item</h3>
			<create-schedule-item form-scheduled-item = "vm.formScheduledItem" intake-id="{{vm.intake._id}}" scheduled-items="vm.scheduledItems" show-intake-selector="true"></create-schedule-item>
		</div>
	</div>

<!-- Schedule items list -->
	<div class="col-md-6">
		<scheduled-items scheduled-items="vm.scheduledItems"></scheduled-items>
	</div>
</div>