<div class="container ">
  <div class="row">
    <ul class="nav navbar-nav">
      <li><a ng-click="vm.createScheduledItemShow()">Create Schedule Item</a></li>
      <li><a ng-click="vm.viewAllScheduledItems()">View All Scheduled Items</a></li>
    </ul>
  </div>
</div>
<br>
<h1>Scheduled Items</h1>

<!-- Create schedule item -->
<div class="row">
	<div ng-hide="!vm.showCreateScheduledItem" class="col-md-6">
		<div class="well">
      <create-schedule-item form-scheduled-item = "vm.formScheduledItem" intake-id="{{vm.intake._id}}" scheduled-items="vm.scheduledItems" show-intake-selector="true" show-intakes='vm.showIntakes' intakes='vm.intakes' show-create-scheduled-item="vm.showCreateScheduledItem"></create-schedule-item>
		</div>
	</div>

<!-- used ng hide here because ng-if was not allowing the directive attributes to link up -->
  <div ng-hide="vm.showCreateScheduledItem" class="col-md-4">
    
  <scheduled-item-day-picker date="vm.date" all-scheduled-items="vm.scheduledItems" selected-scheduled-items="vm.selectedScheduledItems"></scheduled-item-day-picker>
    
  </div>

<!-- Schedule items list -->
	<div class="col-md-6">
		<scheduled-items date="vm.date" selected-scheduled-items="vm.selectedScheduledItems" scheduled-items="vm.scheduledItems" form-scheduled-item = "vm.formScheduledItem" show-create-scheduled-item="vm.showCreateScheduledItem"></scheduled-items>
    
    <p ng-if="vm.selectedScheduledItems.length < 1"><i>There are no items scheduled for any intakes on this day!</i></p>

	</div>

</div>