<!-- Create/Edit Intakes -->
<div class=" col-md-6">
	<h1 ng-if="vm.formIntakeData._id === undefined">Create Intake</h1>
	<h1 ng-if="vm.formIntakeData._id !== undefined">Edit Intake</h1> 
	<a ng-if="vm.formIntakeData._id !== undefined" ng-click="vm.formIntakeData = {}">Create Intake</a>
	<form ng-submit="vm.createIntake()">
	  <!-- Name -->
	  <div class="form-group col-md-6">
	    <label for="nameInput">Name</label>
	    <input ng-model="vm.formIntakeData.name" type="text" class="form-control" id="nameInput" placeholder="Name">
	  </div>
	  
	  <!-- Colour -->
	  <div class="form-group col-md-6">
	    <label for="colorInput">Colour</label>
	    <input ng-model="vm.formIntakeData.colour" type="text" class="form-control" id="colorInput" placeholder="Colour">
	  </div>

		<hr>

		<!-- Term selection -->
		<!-- Add Term -->
		<label class="col-md-12"><h3>Terms<span class="glyphicon glyphicon-plus" ng-click="vm.addTerm()"></span></h3></label>
		<!-- Name -->
	  <div class="form-group col-md-12">
	    <label for="nameInput">Name</label>
	    <input ng-model="vm.term.name" type="text" class="form-control" id="nameInput" placeholder="Name">
	  </div>

		<!-- Start Date -->
	  <div class="col-md-6">
	  	<label for="startDateInput">Start</label>
      <div class="input-group">
	      <input ng-model="vm.term.start" type="text"
	      uib-datepicker-popup="mediumDate"
	      is-open="vm.startDatePickerIsOpen"
	      ng-click="vm.valuationDatePickerOpen()"
	    	class="form-control" id="startDateInput" required>
	      <span class="input-group-btn">
	        <button type="button" class="btn btn-default form-icon" ng-click="vm.valuationDatePickerOpen($event, 'start')">
	          <i id="start-date-glyph" class="glyphicon glyphicon-calendar"></i>
	        </button>
	      </span>
      </div>
    </div>

    <!-- End Date -->
    <div class="col-md-6">
    	<label for="endDateInput">End</label>
      <div class="input-group">
	      <input ng-model="vm.term.end" type="text"
	      uib-datepicker-popup="mediumDate"
	      is-open="vm.endDatePickerIsOpen"
	      ng-click="vm.valuationDatePickerOpen()"
	      class="form-control" id="endDateInput" required>
	      <span class="input-group-btn">
	        <button type="button" class="btn btn-default form-icon" ng-click="vm.valuationDatePickerOpen($event, 'end')">
	          <i id="start-date-glyph" class="glyphicon glyphicon-calendar"></i>
	        </button>
	      </span>
      </div>
    </div>

    <p align="center" class="row"></p>

		<table ng-if="vm.formIntakeData.terms.length > 0" class="table table-striped table-hover ">
		  <thead>
		    <tr>
		      <th>Term Name</th>
		      <th>Start</th>
		      <th>End</th>
		      <th>Remove</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-class="termItem" ng-click="vm.editTerm(term)" ng-repeat = "term in vm.formIntakeData.terms">
		      <td>{{term.name}}</td>
		      <td>{{term.start | date: 'longDate'}}</td>
		      <td>{{term.end | date: 'longDate'}}</td>
		      <td><span ng-mouseover="termItem = 'trashHover'" ng-mouseleave="termItem = ''" ng-click="vm.removeTerm($event)" class="glyphicon glyphicon-trash"></span></td>
		    </tr>
	   </tbody>
   </table>

		<hr>
	  
	  <button ng-if="vm.formIntakeData._id === undefined" type="submit" class="btn btn-lg btn-block">Create Intake</button>
	  <button ng-if="vm.formIntakeData._id !== undefined" type="submit" class="btn btn-lg btn-block">Edit Intake</button>
	</form>
</div>

<!-- Intakes list -->
<div class="col-md-offset-1 col-md-5">
	<h1>Intakes</h1>
	<div class="row" ng-repeat="intake in vm.intakes | orderBy:reverse">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title"><a href="/intake/{{intake._id}}">{{intake.name}}</a></h3> (<a ng-click="vm.editIntake(intake)">Edit</a>)
		  </div>
		  <div class="panel-body">
		  	<p class="pointer"><a ng-if="vm.showDetailsFor.indexOf(intake._id) === -1" ng-click="vm.showDetails(intake._id)" >View Details</a>
				    <a ng-if="vm.showDetailsFor.indexOf(intake._id) !== -1" ng-click="vm.hideDetails(intake._id)">Hide Details</a></p>
				    <hr ng-if="vm.showDetailsFor.indexOf(intake._id) !== -1">
			  
			  <div ng-if="vm.showDetailsFor.indexOf(intake._id) !== -1">
				  <p><strong>Start: </strong>{{intake.start}}</p>
				  <p><strong>end: </strong>{{intake.end}}</p>
				  <p><strong>Colour: </strong>{{intake.colour}}</p>
			  </div>
		  </div>
		</div>
	</div>
</div>


