<nav class="navbar navbar-light bg-faded navbar-fixed-top">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <a class="navbar-brand" href="/">Coder Factory Academy Schedule</a>
    <ul class="nav navbar-nav pull-right">
      <li class="nav-item active">
        <a class="nav-link" href="/">Dashboard <span class="sr-only">(current)</span></a>
      </li>

      <% if user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link" href="/intakes">Intakes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/event_types">Event Types</a>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
