<h1>Assigned Awards</h1>
<!-- intake filter -->
<div ng-repeat="intake in intakes"  uib-popover="{{intake.name}}" popover-trigger="mouseenter" ng-click="addRemoveIntake(intake)"  ng-style="{'background': intake.colour}" ng-class="{circleSelected: intakeIncluded(intake)}" class="circle circleSelector"></div>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
    	<th>Award</th>
      <th>Discipline</th>
      <th>Points</th>
      <th>User</th>
      <th>Intake</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="intakeIncluded(awardDiscipline._registration._intake)" ng-class="rowItem" ng-repeat = "awardDiscipline in awardDisciplines">
      <td>{{awardDiscipline._award.name}}</td>
      <td>{{awardDiscipline._discipline.name}}</td>
      <td>{{awardDiscipline._award.value}}</td>
      <td><a ng-href="/users/{{awardDiscipline._registration._user._id}}" >{{awardDiscipline._registration._user.firstName}} {{awardDiscipline._registration._user.firstName}}</a></td>
      <td>
      	<div uib-popover="{{awardDiscipline._registration._intake.name}}" popover-trigger="mouseenter" ng-click="openIntake(awardDiscipline._registration._intake._id)"  ng-style="{'background': awardDiscipline._registration._intake.colour}" class="circle circleTable"></div>
		  </td>
      <td><span ng-mouseover="rowItem = 'trashHover'" ng-mouseleave="rowItem = ''"  ng-click="deleteAwardDiscipline(awardDiscipline._id)" class="glyphicon glyphicon-trash"></span></td>
    </tr>
	</tbody>
</table>